<div class="header-container">
    <span class="users-heading">Student List</span>
    <div class="search-container">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" class="search" #input>
    
    </div>
  </div>
  

<div >
  
  <div class="mat-elevation-z8 table">
    <table mat-table [dataSource]="dataSource" matSort>

     <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
        <td mat-cell *matCellDef="let row"> {{row.no}} </td>
     </ng-container>
  
      <!-- Firstname Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
        <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
      </ng-container>
  
      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
        <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="emailid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
  
      <!-- Phonenumber Column -->
      <ng-container matColumnDef="phonenumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phonenumber </th>
        <td mat-cell *matCellDef="let row"> {{row.phonenumber}} </td>
      </ng-container>
      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef> Permission </th>
        <td mat-cell *matCellDef="let row">
          <div class="permission-buttons">
            <button mat-button color="primary" class="primary" (click)="onPermissionAction(row, 'deny')" [disabled]="row.permission !== 'allow'">Allow</button>
            <button mat-button color="warn" class="deny" (click)="onPermissionAction(row, 'allow')" [disabled]="row.permission === 'allow'">Deny</button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>