
<div class="header-container">
  <span class="users-heading">Password Change</span>
</div>
<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-md-12">
      <div class="card border-0 shadow p-3 h-100">
        <!-- <div class="form-floating mb-3 text-center">
          <h5 class="text-center text-warning">Password Change</h5>
        </div> -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="password1" name="password1" [(ngModel)]="password1">
          <label for="password1">Current Password</label>
        </div>
        <div class="form-floating mb-3">
          
          <input type="password" class="form-control" id="new_password" name="new_password" [(ngModel)]="new_password">
          <label for="new_password">Enter New Password</label>
          
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password">
          <label for="confirm_password">Confirm New Password</label>
        </div>
        <div class="button-prompt d-flex justify-content-end">
          <button type="button" class="btn btn-outline-success cancel-button" (click)="close_Dialog()">Cancel</button>
          <button type="button" class="btn btn-outline-success ml-2" (click)="updatePassword(password1)">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>